<div #sidebar id="sidebar" class="sidebar collapsed">

  <div class="sidebar-tabs">
    <ul role="tablist">
      <li (click)="onSelectTab('layers')"><a href="#layers" role="tab"><i class="fg-layers-o fg-4x"
            style="font-size: 1.5rem; line-height: 1;"></i></a></li>
      <li (click)="onSelectTab('routes')"><a href="#routes" role="tab"><i class="fg-route fg-4x"
            style="font-size: 1.5rem; line-height: 1;"></i></a></li>
      <li (click)="onSelectTab('info')"><a href="#info" role="tab"><i class="pi pi-info-circle"
            style="font-size: 1.5rem"></i></a></li>
      <li (click)="onSelectTab('measurements')"><a href="#measurements" role="tab"><i class="fg-measure fg-4x" 
            style="font-size: 1.5rem; line-height: 1;"></i></a>
      </li>
      <li (click)="onSelectTab('searchbycoord')"><a href="#searchbycoord" role="tab"><i class="fg-search-map fg-4x" 
            style="font-size: 1.5rem; line-height: 1;"></i></a>
      </li>
    </ul>

    <ul role="tablist">
      <li><a href="https://dev.azure.com/Inetum-Catalunya/SEM-CHRONOS/_git/SEM_chronos-ui-web" role="tab"
          target="_blank"><i class="pi pi-github" style="font-size: 1.5rem"></i></a></li>
    </ul>
  </div>

  <div class="sidebar-content">
    <ng-container #container>
    </ng-container>
  </div>
</div>