<div #sidebar class="sidebar collapsed">
  <!-- Nav tabs -->
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#switch-layers-tab" role="tab"><i class="fg-layers-o fg-4x"
            style="font-size: 1.5rem; line-height: 1;"></i></a></li>
      <li><a href="#routes-tab" role="tab"><i class="fg-route fg-4x"
            style="font-size: 1.5rem; line-height: 1;"></i></a></li>
      <li><a href="#info-tab" role="tab"><i class="pi pi-info-circle"
            style="font-size: 1.5rem"></i></a></li>
      <li><a href="#measurements-tab" role="tab"><i
            class="fg-measure fg-4x" style="font-size: 1.5rem; line-height: 1;"></i></a>
      </li>
    </ul>

    <ul role="tablist">
      <li><a href="https://dev.azure.com/Inetum-Catalunya/SEM-CHRONOS/_git/SEM_chronos-ui-web" role="tab"
          target="_blank"><i class="pi pi-github" style="font-size: 1.5rem"></i></a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="sidebar-content">

    <div class="sidebar-pane" id="switch-layers-tab">
      <h1 class="sidebar-header">Commutador de capes
        <span class="sidebar-close"><i class="pi pi-chevron-left" style="font-size: 1rem"></i></span>
      </h1>
      <div #layers class="layer-switcher"></div>
    </div>

    <div class="sidebar-pane" id="routes-tab">
      <h1 class="sidebar-header">Navegació
        <span class="sidebar-close"><i class="pi pi-chevron-left" style="font-size: 1rem"></i></span>
      </h1>
      <div #routes>
        <app-visor-navigator></app-visor-navigator>
      </div>
    </div>

    <div class="sidebar-pane" id="info-tab">
      <h1 class="sidebar-header">Detalls del punt
        <span class="sidebar-close" ><i class="pi pi-chevron-left" style="font-size: 1rem"></i></span>
      </h1>
      <div #info>
        <app-visor-info></app-visor-info>
      </div>
    </div>

    <div class="sidebar-pane" id="measurements-tab">
      <h1 class="sidebar-header">Mesuraments
        <span class="sidebar-close"><i class="pi pi-chevron-left" style="font-size: 1rem"></i></span>
      </h1>
      <div #measurements>
        <app-visor-measurement></app-visor-measurement>
      </div>
    </div>

  </div>
</div>