
<div style="display: flex;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="coords" type="text" pInputText [(ngModel)]="myNumber" />

    <button class="button" type="submit">Send</button>
  </form>
</div>

<br>


<table class="table mb-0"
*ngIf="initialCoordsTable$ | async as coordsPairs">
<thead>
<tr>
<th>id</th>
<th>lon</th>
<th>lat</th>
<th>code</th>
<th>code-desc</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let coordPair of coordsPairs">
<td>{{ coordPair[0] }}</td>
<td>{{ coordPair[1] }}</td>
<td>{{ coordPair[2] }}</td>
<td>{{ coordPair[3] }}</td>
<td>{{ coordPair[4] }}</td>
</tr>
</tbody>
</table>