
<div class="container">
  <div class="container__formbox">
      <form class="container__form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="container__form-controls">
          <div class="container__form-control">
            <p-dropdown formControlName="epsg" [options]="coordSystemsOptions" placeholder="Selecciona tipo de coord" optionLabel="label" optionValue="epsgVal"></p-dropdown>
          </div>
  
          <div class="container__form-control">
            <input formControlName="coords" type="text" pInputText/>
          </div>
        </div>

        <div class="container__form-send">
          <button type="submit" [disabled]="form.invalid">Enviar</button>
        </div>
        
      </form>
  </div>

  
  
  <div class="container__tables">
    <div class="container__tables-initial">
      <h1>Coordenadas enviadas por usuario</h1>
      <table class="table mb-0"
      *ngIf="initialCoordsTable$ | async as initials">
      <thead>
      <tr>
      <th>id</th>
      <th>longitude</th>
      <th>latitude</th>
      <th>srid</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let initial of initials">
      <td>{{ initial.id }}</td>
      <td>{{ initial.longitude }}</td>
      <td>{{ initial.latitude }}</td>
      <td>{{ initial.srid }}</td>
      </tr>
      </tbody>
      </table>
    </div>
    
    
    <div class="container__tables-transformed">
      <h1>Coordenadas transformadas a ETRS89 UTM huso 31N (25831)</h1>
      <table class="table mb-0"
      *ngIf="transformedlCoordsTable$ | async as transformadas">
      <thead>
      <tr>
      <th>id</th>
      <th>initial_coordinates_id</th>
      <th>longitude</th>
      <th>latitude</th>
      <th>srid</th>
      <th>transformed_geometry</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transformada of transformadas">
      <td>{{ transformada.id }}</td>
      <td>{{ transformada.intialsCoordId }}</td>
      <td>{{ transformada.longitude }}</td>
      <td>{{ transformada.latitude }}</td>
      <td>{{ transformada.srid }}</td>
      <td>{{ transformada.geometry }}</td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>

</div>
