
<div #container class="container">
    <p-messages [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [closable]="true"></p-messages>
    <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }">
      <ng-template pTemplate="header">
          <span class="text-xl font-bold" [innerText]="abs  ? 'Detalles ABS' : 'AdminInfo intersected'"></span>
      </ng-template>
      <div *ngIf="abs">
        {{ abs | json }}
      </div>
      <div *ngIf="adminInfo">
        {{ adminInfo | json }}
      </div>
      <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="visible = false" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-dialog>
    <div class="container__formbox">
        <form class="container__form" [formGroup]="form" (ngSubmit)="onSubmit()">
  
          <div class="container__form-controls">
            <div class="container__form-control" formGroupName="epsgForm">
              <p-dropdown formControlName="epsg" [options]="coordSystemsOptions" placeholder="Selecciona tipo de coord" optionLabel="label" optionValue="id">
                <ng-template let-epsg pTemplate="item">
                  <div pTooltip="{{epsg.epsgVal}}" tooltipPosition="right">
                      <span>{{epsg.label}}</span>
                  </div>
              </ng-template>
              </p-dropdown>
            </div>
    
            <div *ngIf="selectedEpsg" formGroupName="coordsForm">
              <div formGroupName="noDms" class="container__form-control" *ngIf="selectedEpsg == 2 || selectedEpsg == 3 || selectedEpsg == 4 || selectedEpsg == 5 || selectedEpsg == 7 ; else DMS">
                <input formControlName="coords" type="text" pTooltip="Introduce separado por un espacio, longitud (x) y latitud (y), en este orden" pInputText/>
              </div>
  
              <ng-template #DMS>
                <div class="container__form-control" formGroupName="dms">
                  <div style="max-width: 40%;" formGroupName="longitude">
                    <h3>Longitude</h3>
                    <span>Degrees (º)<input formControlName="degrees" type="text" pInputText/></span><br>
                    <span>Minutes (')<input formControlName="minutes" type="text" pInputText/></span><br>
                    <span>Seconds ('')<input formControlName="seconds" type="text" pInputText/></span>
                    <div *ngFor="let value of longitudeValues">
                      <p-radioButton [inputId]="value.key" [value]="value.key" formControlName="lon"></p-radioButton>
                      <label [for]="value.name">{{ value.name }}</label>
                    </div>
                  </div>
                  <div style="max-width: 40%;" formGroupName="latitude">
                    <h3>Latitude</h3>
                    <span>Degrees (º)<input formControlName="degrees" type="text" pInputText/></span><br>
                    <span>Minutes (')<input formControlName="minutes" type="text" pInputText/></span><br>
                    <span>Seconds ('')<input formControlName="seconds" type="text" pInputText/></span>
                    <div *ngFor="let value of latitudeValues">
                      <p-radioButton [inputId]="value.key" [value]="value.key" formControlName="lat"></p-radioButton>
                      <label [for]="value.name">{{ value.name }}</label>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>

          </div>
  
          <div class="container__form-send">
            <p-button type="submit" [disabled]="form.invalid">Enviar</p-button>
          </div>
          
        </form>
    </div>
  
    
    
    <div class="container__tables">
      <div class="container__tables-initial">
        <h1>Coordenadas enviadas por usuario</h1>
        <table class="table mb-0"
        *ngIf="initialCoordsTable$ | async as initials">
        <thead>
        <tr>
        <th>id</th>
        <th>longitude</th>
        <th>latitude</th>
        <th>srid</th>
        <th style="width: 5rem">ABS</th>
        <th style="width: 5rem">IntersectCapas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let initial of initials">
        <td>{{ initial.id }}</td>
        <td>{{ initial.longitude }}</td>
        <td>{{ initial.latitude }}</td>
        <td>{{ initial.srid }}</td>
        <td>
          <p-button type="button" (click)="checkABS(initial)" icon="pi pi-external-link" label="Show"></p-button>
        </td>
        <td>
          <p-button type="button" (click)="checkAdminInfo(initial)" icon="pi pi-external-link" label="Show"></p-button>
        </td>
        </tr>
        </tbody>
        </table>
      </div>
      
      
      <div class="container__tables-transformed">
        <h1>Coordenadas transformadas a ETRS89 UTM huso 31N (25831)</h1>
        <table class="table mb-0"
        *ngIf="transformedlCoordsTable$ | async as transformadas">
        <thead>
        <tr>
        <th>id</th>
        <th>initial_coordinates_id</th>
        <th>longitude</th>
        <th>latitude</th>
        <th>srid</th>
        <th style="width: 5rem">CheckABS</th>
        <th style="width: 5rem">IntersectCapas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transformada of transformadas">
        <td>{{ transformada.id }}</td>
        <td>{{ transformada.intialsCoordId }}</td>
        <td>{{ transformada.longitude }}</td>
        <td>{{ transformada.latitude }}</td>
        <td>{{ transformada.srid }}</td>
        <td>
          <p-button type="button" (click)="checkABS(transformada)" icon="pi pi-external-link" label="Show"></p-button>
        </td>
        <td>
          <p-button type="button" (click)="checkAdminInfo(transformada)" icon="pi pi-external-link" label="Show"></p-button>
        </td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>

    <div class="container__overviewmap">
      <app-map *ngIf="map" [map]="map"></app-map>
    </div>
  
  </div>
