:host::ng-deep {
    .p-listbox {
        border: none;
    }
    .p-panel-content {
        min-height: 8em;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    &__form-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        padding-top: 10px;
        width: 100%;
    }
    // &__form-control {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: flex-start;
    // }
    &__form-send {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

}

.field-title {
    margin-bottom: 0.5rem;
}

app-table {
    padding-top: 1em;
    width: 100%;
}