:host::ng-deep {
    .p-listbox {
        border: none;
    }
    .p-panel-content {
        min-height: 8em;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}